Gmail AI Reply.json
{
  "name": "Gmail AI Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -48
      ],
      "id": "9e345157-ac98-4321-b63a-9d1d4fc8b93d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ptfskblucaLuwkPq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        -48
      ],
      "id": "33de0b78-f7ac-4deb-a59b-54c2e9dbb8e5",
      "name": "Get a message",
      "webhookId": "b7a27e01-a40f-4e86-a055-6f1030eaba73",
      "credentials": {
        "gmailOAuth2": {
          "id": "ptfskblucaLuwkPq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are an email responding agent.\n\nBelow are the content of latest mail i got.\n\nSubject : {{ $json.Subject }}\n\nBody : {{ $json.snippet }}\n\nYou have to do 2 things.\n\n1. specify the label based on the email.\n\nuse the tool to get all the labels and their id and mention both of them properly\n\n2. as a smart assistant draft a response for me to so i can reply to my email. with subject and body\n\nlabels can be\n\ncourses\nDoubts\nsponsors\n\nmake sure the reply is very respectable and wherever required please explain student doubt in depth with example and also make sure that reply folllows strict html format easy to read",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        -48
      ],
      "id": "d021d167-7aa4-481b-acda-841b1b734c97",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        176
      ],
      "id": "5fdbbf39-c022-4a13-95ae-c740647837ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ETeteBvvL34iAeDK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \t\"Label\": \"Doubts\",\n  \"label_id\": \"123412678\",\n  \"subject\": \"doubt_answer\",\n \"body\": \"Hey Thanks for reaching out\" }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        176
      ],
      "id": "5f776975-f3ad-4b16-bbdf-4ac6e1ca5161",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -48
      ],
      "id": "27319255-577d-4953-a9ae-3ebb69fda540",
      "name": "Add label to message",
      "webhookId": "62078148-d6e6-4a88-8d24-028fefa21dd9",
      "credentials": {
        "gmailOAuth2": {
          "id": "ptfskblucaLuwkPq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        304,
        176
      ],
      "id": "0463c25b-35d1-4095-aa46-5abd1545959a",
      "name": "Get many labels in Gmail",
      "webhookId": "ba224804-45bd-422c-b8b2-d438dcc236db",
      "credentials": {
        "gmailOAuth2": {
          "id": "ptfskblucaLuwkPq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        -48
      ],
      "id": "73e0f6af-8c09-41a7-ad21-def60b65e909",
      "name": "Create a draft",
      "webhookId": "a42c5873-7758-4442-a3e4-83ce53d0738f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ptfskblucaLuwkPq",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e02a02f5-30e9-4aa2-816d-d36de0ebefa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b313990812152409cd29882c1410e893a5ca97cec3a833c1a07e201f9073785c"
  },
  "id": "YKONmTDSBQeWBazJ",
  "tags": []
}