Personal Assistant using Telegram.json
{
  "name": "Personal Assistant using Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        80
      ],
      "id": "529525fc-b208-4f03-b9ad-0edaf0db3070",
      "name": "Telegram Trigger",
      "webhookId": "c86c9229-2499-45bd-bd3f-aef2f4f79391",
      "credentials": {
        "telegramApi": {
          "id": "5dNQfsT3K5hAXn0V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant that helps user fulfill their requests.\n\nwhen you are asked to perform task on the current date please use the current time and date :{{ $now }}\n\n## output\n\nyou should output the result and dont include any thing unnecessary. just make sure that you politely answer user question and ask if any other information required \n\nif there is something related to tasks, please make sure you use the tool 'get_many_google_task_tool' to get the tasks as user want"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1152,
        80
      ],
      "id": "2f8d3726-ed96-4726-b2b8-e8988b384987",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        304
      ],
      "id": "0cca02e7-0001-48f0-a767-2d1296d66a2d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ETeteBvvL34iAeDK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad424f86-52e3-4a18-8126-d2603cd35c1f",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "4d11ca97-5204-43ed-b284-60c077c881bb",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -16
      ],
      "id": "a5333cfa-891a-4b02-92d4-a2e0c5b8a055",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        80
      ],
      "id": "440afe80-4fe9-48e2-8522-c937e8d14d25",
      "name": "Send a text message",
      "webhookId": "f600399f-234a-4581-af53-82d3d64776f1",
      "credentials": {
        "telegramApi": {
          "id": "5dNQfsT3K5hAXn0V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        304
      ],
      "id": "e3246738-ae3b-419b-bdfc-2c836c3870e8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        176
      ],
      "id": "47e17498-b6da-4b8e-914f-8951783eae9a",
      "name": "Get a file",
      "webhookId": "fc5d8736-76e7-4ca3-acf1-6c4a88c1bace",
      "credentials": {
        "telegramApi": {
          "id": "5dNQfsT3K5hAXn0V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "538b65cd-4d1e-4f47-ac1a-45508a71a972"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6113c9b6-218d-493e-925d-a2a7016c0581",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        80
      ],
      "id": "14a0c1a0-4d8f-4031-acaa-be7660c11cc7",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "audioUrls": "=",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        672,
        176
      ],
      "id": "342dcf88-64c9-44d1-a0ed-fafad27793e8",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "9aNVnI9m6TZYpeOD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49f720c-8590-4ed8-8aa1-20426f8e57af",
              "name": "message.text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "ee3d63c6-74c5-474a-81a5-98a332ec6608",
              "name": "message.chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        176
      ],
      "id": "382dc1ab-b236-4a76-945f-564eee423cb6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDY5Njc3MDQ3NDM0NDEzMzU5NTg6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {
          "showCompleted": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Show_Completed', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1376,
        304
      ],
      "id": "ac7c98ed-77af-4c62-b373-e3bea51c6a12",
      "name": "get_many_google_task_tool",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "aMFyiEFzLRTnNhLG",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "description": "This workflow helps to create events in google calendar or get events from google calendar.",
        "workflowId": {
          "__rl": true,
          "value": "jc8B4ZFn8UhArNh7",
          "mode": "list",
          "cachedResultName": "My Google calendar agent flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1456,
        432
      ],
      "id": "aeafdc08-b687-4dba-9272-bb92080aa895",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_many_google_task_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ee258f0-2226-43f9-bb10-4536360f7f10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b313990812152409cd29882c1410e893a5ca97cec3a833c1a07e201f9073785c"
  },
  "id": "7pJ80fO649fZf5y4",
  "tags": [
    {
      "createdAt": "2025-07-30T13:58:15.728Z",
      "updatedAt": "2025-07-30T13:58:15.728Z",
      "id": "RY5N6RguIXtpY7ur",
      "name": "telegram"
    }
  ]
}